<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>

    <style>
        .addBtn:hover {
            background-color: lightgray;
        }

        .addBtn {
            background-color: white;
        }
    </style>
</head>

<body>
    <%- include ../layout/NavBarAdmin %>
        <div class="container-fluid">
            <div class="row mt-4" style="padding-right: 3%;">
                <div class="col-10 text-center">
                    <h1 style="margin-left: 25%;">สินค้าทั้งหมด</h1>
                </div>
                <div class="col-2 text-end">
                    <button class="addBtn" type="button" onclick="location.href = '/admin/addProduct'"
                        style="border: black 1px solid; border-radius: 30px; padding: 10px; font-size: 20px; font-weight: bold;">+
                        เพิ่มสินค้า</button>
                </div>
            </div>
            <div class="row mt-4" style="margin-bottom: 6%;">
                <% for(let i=0; i < shoeList.length; i++) { %>
                    <div class="col-4 text-center">
                        <img src="<%= shoeList[i].Image %>" style="width: 80%;">
                        <h3 class="mt-2"><%= shoeList[i].Name %></h3>
                        <p><%= shoeList[i].Price %></p>
                    </div>
                <% } %>
            </div>
        </div>
        <%- include ../Layout/Footer %>
</body>

</html>