<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include ../Layout/NavbarAdmin %>
        <div class="container">
            <div class="text-center" style="margin-top: 2%;">
                <h1>ออเดอร์เลขที่ <%= order.OrderNumber %></h1>
            </div>
            <form action="/admin/editOrder/<%= orderID %>" method="post" id="formSubmit">
                <div class="row" style="margin-top: 2%;">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <p style="font-size: 25px;">ชื่อสินค้า: <%= order.ProductName %></p>
                        <p style="font-size: 25px;">ราคา: <%= order.Price %></p>
                        <img style="width: 250px;" src="<%= order.Slip %>">
                    </div>
                    <div class="col-4 text-center">
                        <div class="row justify-content-center">
                            <select class="form-select" style="width: 220px; border: none; font-size: 25px;" name="status">
                                <% for(let i=0; i<listStatus.length; i++) { %>
                                    <% if(listStatus[i] == order.Status){ %>
                                        <option value="<%= listStatus[i] %>" selected>
                                            <%= listStatus[i] %>
                                        </option>
                                        <% } else{ %>
                                            <option value="<%= listStatus[i] %>">
                                                <%= listStatus[i] %>
                                            </option>
                                            <% } %>
                                                <% } %>
                                <!-- <option>รับยอดแล้ว</option>
                                <option>กำลังจัดส่ง</option>
                                <option>จัดส่งเรียบร้อย</option> -->
                            </select>
                        </div>

                        <div class="form-group text-start" style="margin-top: 10%;">
                            <label for="tracking" style="font-size: 25px;">เลขพัสดุ</label>
                            <% if(order.TrackingNumber == ""){ %>
                            <input type="text" name="tracking" class="form-control" id="tracking" placeholder="กรอกเลขพัสดุ"
                                style="border-radius: 30px; background-color: rgb(237, 237, 237); border: none;" required>
                            <% }else{ %>
                                <input type="text" name="tracking" class="form-control" id="tracking" placeholder="กรอกเลขพัสดุ" value="<%= order.TrackingNumber %>"
                                style="border-radius: 30px; background-color: rgb(237, 237, 237); border: none;" required>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="text-center" style="margin-top: 2%; margin-bottom: 5%;">
                    <button type="submit" class="btn btn-success" style="width: 150px; font-size: 20px; border-radius: 30px;">บันทึก</button>
                </div>
            </form>
        </div>
        <%- include ../Layout/Footer %>
</body>

</html>