<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include layout/NavBar %>
        <div class="text-center mt-4">
            <h1>
                <%= title %>
            </h1>
        </div>
        <% if (title=="รองเท้าผู้ชาย" ) {%>
            <div class="row mt-4" style="margin-bottom: 6%;">
                <% for(let i=0; i < shoeList.length; i++) { %>
                    <% const index = (shoeList[i].Name).split(" ") %>
                    <div class="col-4 text-center" onclick="chooseShoe('shoemen','style<%= index[2] %>', '<%= userID %>')">
                        <img src="<%= shoeList[i].Image %>" style="width: 80%;">
                        <h3 class="mt-2"><%= shoeList[i].Name %></h3>
                        <p><%= shoeList[i].Price %> บาท</p>
                    </div>
                <% } %>
            </div>
            <%} else if (title=="รองเท้าผู้หญิง" ) {%>
                <div class="row mt-4" style="margin-bottom: 6%;">
                    <% for(let i=0; i < shoeList.length; i++) { %>
                        <% const index = (shoeList[i].Name).split(" ") %>
                        <div class="col-4 text-center" onclick="chooseShoe('shoewomen','style<%= index[2] %>', '<%= userID %>')">
                            <img src="<%= shoeList[i].Image %>" style="width: 80%;">
                            <h3 class="mt-2"><%= shoeList[i].Name %></h3>
                            <p><%= shoeList[i].Price %> บาท</p>
                        </div>
                    <% } %>
                </div>
                <% } else { %>
                    <div class="row mt-4" style="margin-bottom: 6%;">
                        <% for(let i=0; i < shoeList.length; i++) { %>
                            <% const index = (shoeList[i].Name).split(" ") %>
                            <div class="col-4 text-center" onclick="chooseShoe('shoekid','style<%= index[2] %>', '<%= userID %>')">
                                <img src="<%= shoeList[i].Image %>" style="width: 80%;">
                                <h3 class="mt-2"><%= shoeList[i].Name %></h3>
                                <p><%= shoeList[i].Price %> บาท</p>
                            </div>
                        <% } %>
                    </div>
                    <% } %>
                        <%- include Layout/Footer %>

                            <script src="/javascripts/choose_shoe.js"></script> 
</body>

</html>