<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include layout/NavBar %>
        <div class="text-center mt-4">
            <h1>
                <%= title %>
            </h1>
        </div>
        <% if (title=="รองเท้าผู้ชาย" ) {%>
            <div class="row mt-4" style="margin-bottom: 6%;">
                <a href=""></a>
                <div class="col-4 text-center" onclick="chooseShoe('shoemen','style1', '<%= userID %>')">
                    <img src="/images/men/shoe1.png" style="width: 80%;">
                    <h3 class="mt-2">ชื่อรุ่น</h3>
                    <p>ราคา</p>
                </div>
                <div class="col-4 text-center" onclick="chooseShoe('shoemen','style2', '<%= userID %>')">
                    <img src="/images/men/shoe2.png" style="width: 80%;">
                    <h3 class="mt-2">ชื่อรุ่น</h3>
                    <p>ราคา</p>
                </div>
            </div>
            <%} else if (title=="รองเท้าผู้หญิง" ) {%>
                <div class="row mt-4" style="margin-bottom: 6%;">
                    <div class="col-4 text-center" onclick="chooseShoe('shoewomen', 'style1', '<%= userID %>')">
                        <img src="/images/women/shoe1.png" style="width: 80%;">
                        <h3 class="mt-2">ชื่อรุ่น</h3>
                        <p>ราคา</p>
                    </div>
                    <div class="col-4 text-center" onclick="chooseShoe('shoewomen', 'style2', '<%= userID %>')">
                        <img src="/images/women/shoe2.png" style="width: 80%;">
                        <h3 class="mt-2">ชื่อรุ่น</h3>
                        <p>ราคา</p>
                    </div>
                </div>
                <% } else { %>
                    <div class="row mt-4" style="margin-bottom: 6%;">
                        <div class="col-4 text-center" onclick="chooseShoe('shoekid', 'style1', '<%= userID %>')">
                            <img src="/images/kids/shoe1.png" style="width: 80%;">
                            <h3 class="mt-2">ชื่อรุ่น</h3>
                            <p>ราคา</p>
                        </div>
                    </div>
                    <% } %>
                        <%- include Layout/Footer %>

                            <script src="/javascripts/choose_shoe.js"></script> 
</body>

</html>